
<section class="content-main">
  <div class="row">
    <div class="col-9">
      <div class="content-header">
        <h2 class="content-title">Add New Product</h2>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h4>Basic</h4>
        </div>
        <div class="card-body">
          <form class="mx-1 mx-md-4 pt-2" action="/admin/add-product" method="post" enctype="multipart/form-data"> 
          
            <div class="mb-2">
              <label for="product_name" class="form-label">Product Name</label>
              <input type="text" placeholder="Product Name" required name="name" class="form-control" id="name">
              <span id="name-error" class="validation" style="color: rgb(255, 0, 0)"></span>
            </div>

          <div>
            <select class="form-select mb-2" name="category" required aria-label="Default select example">
              <option value="">Category</option>

              <% for (var i =0; i < category.length;  i++ ) { %>

              <option value="<%=category[i].category%>" required><%=category[i].category%></option>
              <% } %>

            </select>
          </div>

            <div class="row">
              <div class="col-lg-12 d-flex ">
                <div class="mb-2 text-center">
                  <label class="form-label">Price</label>
                    <input placeholder="" type="number" required  name="price" class="form-control">
                    <span id="price-error" class="validation" style="color: rgb(255, 0, 0)"></span>
                </div>
                <div class="ml-5 text-center">
                  <label class="form-label">Stock</label>
                  <input placeholder="" type="number" required name="stock" class="form-control">
                  <span id="price-error" class="validation" style="color: rgb(255, 0, 0)"></span>
                </div>
              </div>
            </div>

            <div class="mb-2">
              <label class="form-label">Description</label>
              <textarea placeholder="Product Description" required id="description" name="description" class="form-control" rows="4"></textarea>
              <span id="description-error" class="validation" style="color: rgb(255, 0, 0)"></span>
            </div>

            <div class="">
              <div class="card mb-2">
                <div class="card-header">
                  <h4>Media</h4>
                </div>
                <div class="card-body">
                  <div class="input-upload">
      
                    <input class="form-control" name="image" type="file" multiple required
                     >
                     <input class="form-control" name="image" type="file" multiple required
                     >
                     <input class="form-control" name="image" type="file" multiple required
                     >
                     <input class="form-control" name="image" type="file" multiple required
                     >
                  </div>
                </div>
              </div> 
            </div>

            <span style="color: red;" id="submit-error"></span>
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <input type="submit" value="Add Product" onclick="return validateForm()" style="border-radius: 1rem;" class="btn btn-primary btn-lg"
            </div>

          </form>
        </div>
      </div> 
</section>



<script>
  const nameError = document.getElementById("name-error");
  const submitError = document.getElementById("submit-error");
  const descriptionError = document.getElementById("description-error")
  const priceError = document.getElementById("price-error");


  function validateName() {
    var name = document.getElementById("name").value;
    if (name.length == 0) {
      nameError.innerHTML = "Name is required";
      return false;
    }
    nameError.innerHTML = "";
    return true;
  }

  function validatePrice(){
    const priceValue = document.getElementById("price").value;
    if (priceValue == "") {
        priceError.innerHTML = "Price is required";
        return false;
      }
      priceError.innerHTML = "";
      return true;
  }

  function validateDescription() {
    var description = document.getElementById("description").value;
    if (description.length == 0) {
      description.innerHTML = "Description is required";
      return false;
    }
    descriptionError.innerHTML = "";
    return true;
  }

  function validateForm() {
    if (!validateName() || !validatePrice() || !validateDescription()) {
      submitError.style.display = "flex";
      submitError.style.justifyContent = "center";
      submitError.innerHTML = "Enter valid details";
      setTimeout(() => {
        submitError.style.display = "none";
      }, 3000);
      return false;
    }
  }
</script>
