<section class="vh-100" style="background-color: #f0f1f4;">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-4 col-md-4 col-lg-4">
          <div class="card shadow border" style="border-radius: 1rem; margin-top: 100px; margin-bottom: 90px;" >
            <div class="card-body">
              
             
             <form action="/change-password" method="post">
                  <div id="sender">
                    <div class="d-flex align-items-center  pb-1">
                      <h4 class=" mx-auto font-weight-bold">Enter New Password</h4>   
                    </div>
                    <div class="form-outline mb-3 mt-4 text-center">
                      <input type="password" placeholder="New Password" id="typePasswordX-2" class="form-control form-control-lg " name="password" />
                      <span id="password-error" class="validation" style="color: rgb(255, 0, 0)"></span>
                    </div>

                    <div class="form-outline mb-3 mt-4 text-center">
                        <input type="password" placeholder="Confirm Password" id="typeConfirmPassword" class="form-control form-control-lg" />
                        <span id="confirm-error" class="validation" style="color: rgb(255, 0, 0)"></span>
                      </div>    
  
                   
                    <div class="pt-3 ">
                     <button  type="submit" class="btn btn-info" onclick="return validateForm()" style="width: 100%;">Submit</button>
                     <span style="color: red;" id="submit-error"></span>
                    </div>   
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>



<script>

    const passwordError = document.getElementById("password-error");
      const submitError = document.getElementById("submit-error");
      const confirmError = document.getElementById('confirm-error')

      function validatePassword() {
        var password = document.getElementById("typePasswordX-2").value;
        if (password.length == 0) {
          passwordError.innerHTML = "Password must contain atleast 6 characters";
          return false;
        }
        var passChecker = /^(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
        if (password.match(passChecker)) {
          passwordError.innerHTML = "";
          return true;
        } else {
          passwordError.innerHTML = "Password must contain atleast 1 uppercase letter";
          return false;
        }
      }
  
      function validateConfirmPassword(){
        let password = document.getElementById('typePasswordX-2').value
        let confirmPassword = document.getElementById('typeConfirmPassword').value
        if (confirmPassword == "") {
            confirmError.innerText = "This field is required";
            return false;
          }else if(password != confirmPassword){
          confirmError.innerText = "Password doesnt match"
          return false;
        }else{
          return true
        }
      }
  
      function validateForm() {
        if (!validatePassword() ||!validateConfirmPassword()) {
          submitError.style.display = "flex";
          submitError.style.justifyContent = "center";
          submitError.innerHTML = "Please enter the details properly";
          setTimeout(() => {
            submitError.style.display = "none";
          }, 3000);
          return false;
        }
      }

</script>