<body>
    <main>
        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Sign in</h4>
                    <form action="/login" method="post">
                        <div class="mb-3">
                            <input class="form-control" placeholder="Email" name="email" type="email" id="typeEmailX-2">
                            <span id="email-error" class="validation" style="color: red;"></span>
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input class="form-control" placeholder="Password" name="password" type="password" id="typePasswordX-2">
                            <span id="password-error" class="validation" style="color: red;"></span>
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <a href="/forgot-password" class="float-end font-sm text-muted">Forgot password?</a>
                            <label class="form-check">
                                <input type="checkbox" class="form-check-input" checked="">
                                <span class="form-check-label">Remember</span>
                            </label>
                        </div> <!-- form-group form-check .// -->
                        <% if(message) { %>
                            <p style="color: red;"><%=message%></p>
                            <% } %>

                        <div class="mb-4">
                            <button class="btn btn-primary w-100 mb-3" type="submit"
                                onclick="return validateForm()">Login</button>
                            <span id="submit-error" class="validation" style="color: red;"></span>
                        </div> <!-- form-group// -->
                    </form>
                    <h6 class="text-center small text-muted mb-15">Or</h6>
                    <div class="d-grid gap-3 mb-4">
                        <a href="/otplogin" class="btn w-100 btn-light font-sm">
                            Login with OTP
                        </a>

                    </div>
                    <p class="text-center mb-4">Don't have account? <a href="/signup">Sign up</a></p>
                </div>
            </div>
        </section>

    </main>

    <script>

        var emailError = document.getElementById('email-error');
        var passwordError = document.getElementById('password-error');
        var submitError = document.getElementById('submit-error');

        function validateEmail() {
            var email = document.getElementById('typeEmailX-2').value;
            if (email.length == 0) {
                emailError.innerHTML = 'Email is required';
                return false;
            }
            if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
                emailError.innerHTML = 'Email Invalid';
                return false;
            }
            emailError.innerHTML = '';
            return true;
        }

        function validatePassword() {
            var password = document.getElementById("typePasswordX-2").value;
            if (password.length == 0) {
                passwordError.innerHTML = "Password is required";
                return false;
            }
            var passChecker = /^(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
            if (password.match(passChecker)) {
                passwordError.innerHTML = "";
                return true;
            } else {
                passwordError.innerHTML = "Invalid Password";
                return false;
            }
        }


        function validateForm() {
            if (!validateEmail() || !validatePassword()) {

                submitError.style.display = 'flex';
                submitError.style.justifyContent = 'center';
                submitError.innerHTML = 'Invalid Email or Password';
                setTimeout(() => {
                    submitError.style.display = 'none';
                }, 3000);
                return false;
            }
        }
    </script>